.accordion {
    width: 600px;
}

.item {
    margin-bottom: 20px;
    padding: 10px 9px;
    color: aliceblue;
    background-color: #FF6347;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.title span {
    font-size: 32px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease; 
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.4s ease; 
}